body {
  background-color: pink;
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 100px;
  width: 80px;
  vertical-align: top;
}
body {
  background-color: pink;
}
.card {
  margin: 10px;
  padding: 10px;
  background-color: white;
  width: 50px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}
.card-container {
  margin: 10px;
  padding: 10px;
  background-color: grey;
  width: 1000px;
  border-radius: 8px;
  display: inline-block;
}
.suit {
  margin: 5px;
  font-size: 20px;
}
.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}
.red {
  color: red;
}
.board {
  margin: 10px;
  padding: 10px;
  background-color: grey;
  width: 500px;
  height: 580px;
  border-radius: 8px;
  display: inline-block;
}
.div {
  margin: 10px;
  padding: 10px;
  background-color: grey;
  width: 1000px;
  border-radius: 8px;
  display: inline-block;
}
