#header {
  text-align: center;
}

body {
  background-color: pink;
}

.card {
  margin: 5px;
  padding: 5px;

  width: 25px;
  height: 35px;
  text-align: center;
  border: solid 2px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

.face-down {
  background: repeating-linear-gradient(
    45deg,
    darkgreen 0px,
    darkgreen 15px,
    black 17px,
    red 20px
  );
}

.face-up {
  background: white;
}

.suit {
  margin: 3px;
  font-size: 14px;
}

.name {
  /* margin: 5px; */
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.black {
  color: black;
}

.input-label {
  display: inline;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#board-size-input,
#time-input {
  padding: 2px;
}

#start-game {
  margin-top: 5px;
}

#timer {
  background-color: aliceblue;
  width: 60px;
  border: solid 2px black;
  border-radius: 20%;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
  margin-top: 10px;
}

#board {
  margin-top: 10px;
}

.match {
  border: solid 3px limegreen;
}

.no-match {
  border: solid 3px red;
}
