body {
  background-color: pink;
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: top;
}
.input-container {
  margin-bottom: 10px;
}
.input-field {
  margin-right: 5px;
}
.score-container {
  border-color: red;
}
.reset-button {
  margin-left: 5px;
}
.output {
  color: red;
  /* font-size: 1.5rem; */
  font-family: monospace;
  width: 400px;
  height: 40px;
  padding: 5px 10px;
  background-color: lightgrey;
}
.timer-container {
  margin: 20px 0px;
}
.timer-output {
  color: red;
  font-style: bold;
  margin-left: 10px;
}
