body {
  background-color: rgb(12, 145, 116);
}
.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  vertical-align: top;
}

.red {
  color: red;
}

.black {
  color: black;
}

.timer {
  font-size: 30px;
  margin-left: 100px;
}

.start-button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-left: 73px;
  margin-top: 10px;
}
h2 {
  margin-left: 50px;
}
